<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>University Management System</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body class="center-wrapper">

<div class="hero-container">
    <h1>Welcome to UniManage</h1>
    <p>
        The complete solution for managing university faculties, budgets, and administration.
        Secure, fast, and easy to use.
    </p>

    <a href="/login" class="btn-primary">Access Portal</a>
</div>
<div class="footer">
    &copy; 2026 Raul's University Management System
</div>
</body>

</html>